.btn{ 
    display: inline-block;
    border: none;
    border-radius: 100px;
    background-color: var(--default-black);
    color: var(--deafult-white);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
.btn-glass{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--dontchange-white);
}
.btn-glass a{
    color: var(--dontchange-white)
}
