#header{
    height: 100vh;
    background-image: url("https://scontent.fvcp4-1.fna.fbcdn.net/v/t1.6435-9/p526x296/243659195_667004580941109_3808437290987580013_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=IMUcxNkobR4AX8I3oJD&_nc_ht=scontent.fvcp4-1.fna&oh=519e2b6d9f086b5354218c5df8e02ebb&oe=6177C8CC");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    vertical-align: middle;
    background-attachment: fixed;
    position: relative;
    margin: .4rem;
}
#header-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header-page__unored-list,
 .header-page__holder,
 .header-page__holder-logo{
    align-items: center;
    display: flex;
}
.header-page__holder-logo{
    flex-direction: column;
    margin: 1rem 0;
}

.header-page__list-element{
    margin-left: 1rem;
}
.social-media{
    flex-direction: column;
}
.header-page__anchor{
    color: var(--default-black);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--small-font-size);
}
.header-page__logo{
    width: 7rem;
}
#header-page__title{
    display: inline-block;
    width: 30%; 
    text-align: justify;
    font-weight: bold;
    margin: .4rem;
    position: absolute;
    transform: translate(7%, 10%);
}
@media (min-width: 768px) {
    #header{
        margin: .7rem;
    }
    .header-page, .header-page__logo, #header-page{
        flex-direction: column;
        flex-direction: row;   
    }
    .social-media{
        flex-direction: column;
    }
}
@media (min-width: 1024px){
    #header{
        margin: 1rem
    }
    .header-page__holder-logo{
        flex-direction: row;
    }
    .social-media{
        flex-direction: row;
    }
}
