/*Import Roboto and Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: #4a2e23;
    --main-color-light: #97654D;
    --main-color-heavy: #321f18;
    --main-color-transparent: #321f1887;
    --second-color: #f2ce57;
    --deafult-white: #fbfdfa;
    --default-black: #202124;
    
}

html{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    font-size: 1.2rem;
}

h1{font-size: 3rem;}
h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
