.carousel-container,
.carousel-container__carousel-slide,
.carousel-slide__carousel-items{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container{
    width: 100%;
    height: 100vh;
    margin: auto 0;
    overflow: hidden;
    position: relative;
}
.carousel-slide__carousel-items{
    align-items: center;
    background: var(--default-black);   
    display: flex;
    min-width: 100%;
}
.carousel-items__image{
    height: 100vh;
    object-fit: contain;
    margin: auto;
    min-width: 50%;
}
.carousel-container__carousel-slide{
    display: flex;
}

#carousel-container__carousel-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#nextBtn, #prevBtn{
    color: var(--deafult-white);    
    background: none; 
    border: none;
    cursor: pointer
}
#nextBtn:hover, #prevBtn:hover
#nextBtn:focus, #prevBtn:focus{
    color: var(--deafult-white);
}
.carousel-btn-prev{
    margin-left: 0.5rem;
}
.carousel-btn-next{
      margin-right: 0.5rem ;
}